{% extends "base.html" %}

{% block content %}
<div><iframe width="600" height="400" frameBorder="0" src="https://www.mindmeister.com/maps/public_map_shell/3824475249/clasificacion?width=600&height=400&z=auto&live_update=1&no_share=1" scrolling="no" style="overflow:hidden;margin-bottom:5px">Your browser is not able to display frames. Please visit <a href="https://www.mindmeister.com/3824475249/clasificacion" target="_blank">Clasificacion</a> on MindMeister.</iframe><div class="mb-5"><a href="https://www.mindmeister.com/3824475249/clasificacion" target="_blank">Mapa Conceptual</a> <a href="https://www.mindmeister.com/users/channel/127390456" target="_blank" rel="noopener noreferrer"></a></div></div>

{% endblock %}
