{% extends "base.html" %}

{% block content %}
<div>
  <iframe width="1400" height="800" frameBorder="0" src="https://www.mindmeister.com/maps/public_map_shell/3824475249/clasificacion?width=600&height=400&z=auto&live_update=1&no_share=1" scrolling="no" style="overflow:hidden;margin-bottom:5px">
    Your browser is not able to display frames. Please visit 
    <a href="https://www.mindmeister.com/3824475249/clasificacion" target="_blank">Clasificacion</a> on MindMeister.
  </iframe>
  <div class="mb-5">
    <a href="https://www.mindmeister.com/3824475249/clasificacion" target="_blank">Mapa Conceptual</a> 
    <a href="https://www.mindmeister.com/users/channel/127390456" target="_blank" rel="noopener noreferrer"></a>
  </div>
</div>

<div class="mt-5">
  <h3>Referencias</h3>
  <ul>
    <li>APD Business School. (2025, julio 3). ¿Cuáles son los tipos de algoritmos del machine learning? <i>APD</i>. <a href="https://www.apd.es/algoritmos-del-machine-learning/" target="_blank">https://www.apd.es/algoritmos-del-machine-learning/</a></li>
    <li>DataCamp. (2024, abril 25). 8 modelos de machine learning explicados en 20 minutos. <i>DataCamp</i>. <a href="https://www.datacamp.com/es/blog/machine-learning-models-explained" target="_blank">https://www.datacamp.com/es/blog/machine-learning-models-explained</a></li>
    <li>González, M. (2022, diciembre 15). Principales algoritmos utilizados en machine learning. <i>Aprende Machine Learning</i>. <a href="https://www.aprendemachinelearning.com/principales-algoritmos-usados-en-machine-learning/" target="_blank">https://www.aprendemachinelearning.com/principales-algoritmos-usados-en-machine-learning/</a></li>
    <li>Telefónica Tech. (2023, junio 29). Tipos de aprendizaje en Machine Learning: supervisado y no supervisado. <i>Telefónica Tech Blog</i>. <a href="https://telefonicatech.com/blog/que-algoritmo-elegir-en-ml-aprendizaje" target="_blank">https://telefonicatech.com/blog/que-algoritmo-elegir-en-ml-aprendizaje</a></li>
    <li>Universidad Iberoamericana. (2024, julio 30). Machine Learning: Clasificación y regresión. <i>IBERO</i>. <a href="https://www.ibero.edu.co/blog/articulos/tecnicas-de-machine-learning" target="_blank">https://www.ibero.edu.co/blog/articulos/tecnicas-de-machine-learning</a></li>
  </ul>
</div>

{% endblock %}
