{% extends "base.html" %}
{% block content %}
<div class="text-center">
  <h1 class="mb-4">Página Principal</h1>
  <p class="lead">
    En este apartado hablaremos sobre qué es la regresión lineal, sus conceptos básicos y realizaremos un ejemplo interactivo
    con gráficos donde podrás ver cómo funciona este modelo para calcular el sueldo en función de los años de experiencia y el nivel educativo.
  </p>

  <div class="mt-5">
    <a href="/conceptos" class="btn btn-success btn-lg me-3">📘 Conceptos básicos</a>
    <a href="/practico" class="btn btn-outline-success btn-lg">⚙️ Ejercicio práctico</a>
  </div>
</div>
{% endblock %}
