{% extends "base.html" %}
{% block content %}
<div class="text-center">
  <h1 class="mb-4">Página Principal</h1>
  <p class="lead">
    Esta pagina esta organizada en varios apartados que tienen como objetivo facilitar la comprensión y aplicación de la regresión lineal. En el apartado concepto hablaremos sobre qué es la regresión lineal y sus conceptos básicos. En el apartado Ejercicio realizaremos un ejemplo interactivo
    con gráficos hecho por nosotros donde podrás ver cómo funciona este modelo matemático para calcular el sueldo de una persona en función de los años de experiencia con respecto a el nivel educativo.
  </p>

  <div class="mt-5">
    <a href="/conceptos" class="btn btn-success btn-lg me-3">📘 Conceptos básicos</a>
    <a href="/practico" class="btn btn-outline-success btn-lg">⚙️ Ejercicio práctico</a>
  </div>
</div>
{% endblock %}
